@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding: var(--padding-inline-section);
  overflow: hidden;
}