@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/* Utility Classes */
.container {
  max-width: 1180px;
  margin-inline: auto;
  padding: var(--padding-inline-section);
  overflow: hidden;
}

.gradient-primary {
  background-image: linear-gradient(to right, #248DDA, #06A6FF);
  background-image: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
      #a0c8ff 0.89%,
      #82b6ff 17.23%,
      #6eaafe 42.04%,
      #5fa1ff 55.12%,
      #44a7ef 71.54%,
      #2697e8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-text {
  color: rgba(255, 255, 255, 0.70);
  line-height: 140%;
  letter-spacing: 0.18px;
}

.Link-animate {
  position: relative;
}

.Link-animate::after {
  border-radius: 12px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.Link-animate:hover::after {
  transform: scaleX(1);
}


/* Wrapper Container */
.wrapper_line {
  position: relative;
}

.wrapper_line::after {
  position: absolute;
  content: "";
  width: 1px;
  opacity: 10%;
  height: 100vh;
  background-color: rgb(219, 219, 219);
}


/* Navbar */

.nav-link {
  color: #434343;
}

.nav-icon {
  width: 20px;
  opacity: 80%;
  cursor: pointer;
}

.nav-box {
  background: linear-gradient(180deg, #70b8eb 0.89%, #5eb3f0 17.23%, #4ea6e6 42.04%, #48a8ed 55.12%, #48a8ed 71.54%, #248DDA 100%);
  transition: all 3s ease-in-out;
}


.nav-icon:hover {
  opacity: 100%;
}

/* Hero Section */

.hero_section {
  background-image: url('./assets/herosectionimage3.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.1));
}

.hero_section-content {
  height: 100vh;
}

/* ASL Info Section */
.main_info_container {
  background-image: url(./assets/infoBG.png);
  background-color: #1B5E8F;
}

/* Footer */
.footer-section {
  background: linear-gradient(to bottom, #248DDA, #1a69a2);
}