.hero_section {
    background-image: url('./assets/herosectionimage.png');
    background-size: cover;
    /* background-position: center; */
    background-position: top center;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #a3a3a3;
}

.hero_section-content {
    height: 100vh;
}