.land-frontpage{
    height: 100vh;
    background-image: url('./assets/BgLandingPage.png');
    background-size: cover;
}
.landfrontIn{
    background: rgba(128, 128, 128, 0.678);
    height: 100vh;
    color: black;
}